*{
    margin: 0;
}

.main{
    width: 100%;
    background:url(Nevim.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.title1{
    color: lightgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title2{
    color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
}

.title3{
    color: lightgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.listUSP{
    list-style: upper-roman;
}

.listUSP1{
    color: gold;
    font-size: 33px;
}

.listUSP2{
    color: yellow;
    font-size: 33px;
}

.listUSP3{
    color: orange;
    font-size: 33px;
}

.listNEUSP1{
    font-size: 33px;
    color: white;
    list-style: square;
}

.listNEUSP2{
    color: white;
    font-size: 33px;
}

.listNEUSP3{
    color: white;
    font-size: 33px;
    list-style: decimal;
}